ul,li {
  list-style: none;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;}
* {
  box-sizing:border-box;
}
.clearfix {
  width:100%;
  height:0;
  overflow:hidden;
  clear:none;
}
.trade-block {
  position:absolute;
  display:none;
  width: 700px;
  height: 450px;
  background-color: #ffffff;
  border: solid 1px #cacaca;
  overflow-y:auto;

  .trade-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #f8f9fa;
    border: solid 1px #f1f1f1;

    .trade-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 18px;
      font-size: 14px;
      color: #5e5e5e;
    }

    .trade-close {
      position:relative;
      width: 17px;
      min-width: 17px;
      height: 17px;
      transform:rotate(-45deg);
      cursor:pointer;

      &:before,
      &:after {
        position:absolute;
        top:8px;
        left:2px;
        display:block;
        width:13px;
        height:1px;
        content:'';
        background:#5e5e5e;
      }
      &:after {
        top:2px;
        left:8px;
        display:block;
        width:1px;
        height:80%;
      }

    }

  }

  .trade-main {
    width: 100%;
    height: auto;
    background-color: #ffffff;

    .trade-block-item {
      width: 100%;
      height: auto;

      .trade-item-title {
        display:flex;
        justify-content:flex-start;
        align-items:center;
        width: 100%;
        height:33px;
        padding:0 20px;

        > h3 {
          display:inline-flex;
          justify-content:flex-start;
          align-items:center;
          height:30px;
          padding: 0 10px;
          border: 1px solid #cacaca;
          border-radius: 2px;
          background-color: #f8f9fa;
          color: #5e5e5e;
          font-size: 14px;
        }
      }

      > ul {
        width:100%;
        padding:0 20px;
        > li {
          float:left;
          position:relative;
          min-width: 70px;
          height: 30px;
          margin-right:12px;
          margin-bottom:10px;

          &:nth-of-type(5n) {
            margin-right:0;
          }

          .trade-name,
          .trade-hot-name,
          .trade-sub-name{
            position:relative;
            display:flex;
            justify-content:center;
            align-items:center;
            min-width: 70px;
            height: 30px;
            padding:0 5px;

            font-size:12px;
            color:#5e5e5e;
            cursor:pointer;
            white-space: nowrap;
            text-overflow:ellipsis;
            overflow:hidden;

            border-radius: 1px;
            background-color: #ffffff;
            border: solid 1px #d8d8d8;



          &:hover + .trade-sub-block {
           // display:block;
          }

          }
          .trade-name {
            &.active {
              color:#4abee0;
              background-color: #f7fdff;
              border: solid 1px #4abee0;
              z-index:2;
            }
            &.list-active {
              background-color: #fff;
              border: solid 1px #d8d8d8;
              border-bottom-color:#fff;
              z-index:2;
            }
          }
          .trade-hot-name,
          .trade-sub-name{
            min-width: 60px;
            height: 24px;
            color:#9d9d9d;
            background-color: #ffffff;
            border: solid 1px #d8d8d8;

            &.active {
              color:#4abee0;
              background-color: #f7fdff;
              border: solid 1px #4abee0;
            }

          }

          .trade-sub-block {
            //display:none;
            position:absolute;
            top:29px;
            left:0;
            width: 390px;
            height: auto;;
            background-color: #ffffff;
            border: solid 1px #d8d8d8;
            z-index:3;
            overflow:hidden;

            > li {
              display:flex;
              justify-content: center;
              align-items: center;
              float:left;
              padding:0 5px;
              position:relative;
              min-width: 80px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}

