ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.clearfix {
  width: 100%;
  height: 0;
  overflow: hidden;
  clear: none; }

.city-block {
  display: none;
  position: absolute;
  width: 442px;
  height: auto;
  background-color: #ffffff;
  border: solid 1px #cacaca;
  z-index: 200001; }
  .city-block:before {
    position: absolute;
    left: -9px;
    top: 120px;
    width: 15px;
    height: 15px;
    content: '';
    display: block;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    background-color: #fff;
    transform: rotate(-45deg); }
  .city-block .city-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #f8f9fa;
    border: solid 1px #f1f1f1; }
    .city-block .city-header .city-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 18px;
      font-size: 14px;
      color: #5e5e5e; }
    .city-block .city-header .city-close {
      position: relative;
      width: 17px;
      min-width: 17px;
      height: 17px;
      transform: rotate(-45deg);
      cursor: pointer; }
      .city-block .city-header .city-close:before, .city-block .city-header .city-close:after {
        position: absolute;
        top: 8px;
        left: 2px;
        display: block;
        width: 13px;
        height: 2px;
        content: '';
        background: #5e5e5e; }
      .city-block .city-header .city-close:after {
        top: 2px;
        left: 8px;
        display: block;
        width: 1px;
        height: 80%; }
  .city-block .city-main {
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-color: #ffffff; }
    .city-block .city-main .city-block-item {
      width: 100%;
      height: auto; }
      .city-block .city-main .city-block-item .city-item-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 30px;
        padding: 0 20px; }
        .city-block .city-main .city-block-item .city-item-title > h3 {
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          padding: 6px 15px;
          border: 1px solid #cacaca;
          border-radius: 2px;
          background-color: #f8f9fa;
          color: #5e5e5e;
          font-size: 14px; }
      .city-block .city-main .city-block-item > ul {
        width: 100%;
        padding: 0 20px; }
        .city-block .city-main .city-block-item > ul > li {
          float: left;
          min-width: 70px;
          height: 30px;
          margin-right: 12px;
          margin-bottom: 10px; }
          .city-block .city-main .city-block-item > ul > li:nth-of-type(5n) {
            margin-right: 0; }
          .city-block .city-main .city-block-item > ul > li .city-name,
          .city-block .city-main .city-block-item > ul > li .city-hot-name,
          .city-block .city-main .city-block-item > ul > li .city-sub-name {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 70px;
            height: 30px;
            font-size: 12px;
            color: #5e5e5e;
            padding: 0 10px;
            line-height: 30px;
            text-align: center;
            background-color: #f8f9fa;
            border: solid 1px #cacaca;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          .city-block .city-main .city-block-item > ul > li .city-name.active {
            color: #4abee0;
            background-color: #f7fdff;
            border: solid 1px #4abee0; }
          .city-block .city-main .city-block-item > ul > li .city-name.selected {
            position: absolute;
            background-color: #fff;
            border-bottom-color: #fff;
            z-index: 4; }
          .city-block .city-main .city-block-item > ul > li .city-name.list-active {
            background-color: #fff;
            border: solid 1px #d8d8d8;
            border-bottom-color: #fff;
            z-index: 2; }
          .city-block .city-main .city-block-item > ul > li .city-hot-name,
          .city-block .city-main .city-block-item > ul > li .city-sub-name {
            min-width: 60px;
            height: 24px;
            color: #9d9d9d;
            background-color: #ffffff;
            border: solid 1px #d8d8d8; }
            .city-block .city-main .city-block-item > ul > li .city-hot-name.active,
            .city-block .city-main .city-block-item > ul > li .city-sub-name.active {
              color: #4abee0;
              background-color: #f7fdff;
              border: solid 1px #4abee0; }
          .city-block .city-main .city-block-item > ul > li .city-sub-block {
            position: absolute;
            left: 20px;
            right: 20px;
            height: auto;
            background-color: #ffffff;
            border: solid 1px #d8d8d8;
            z-index: 3;
            overflow: hidden;
            margin-top: 29px;
            padding-top: 5px;
            padding-bottom: 5px; }
            .city-block .city-main .city-block-item > ul > li .city-sub-block > li {
              display: flex;
              justify-content: center;
              align-items: center;
              float: left;
              padding: 0 5px;
              position: relative;
              min-width: 60px;
              height: 30px; }
