<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bootStrap</title>
  <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-sham.js"></script>
  <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-shim.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://www.jianlika.com/assets/vendor/bootstrap-v3.3.6.min.css?v=183f1d3676">
  <link rel="stylesheet" href="http://www.jianlika.com/assets/app.css?v=c62b7fae6a">
  <link rel="stylesheet" href="/Public/css/city.css">
  <script src="/Public/js/view/data.js"></script>
  <script src="/Public/js/third3/aspect.js"></script>
</head>
<style type="text/css">

</style>
<body>
<a href="#" data-city-load1 value="310000,710000,500000">初始化</a>
<a href="#" data-city-load2 value="310000,710000,500000">初始化</a>
<input id="cityHiddenValue1" type="hidden">
<input id="cityHiddenValue2" type="hidden">
<div id="vueApp" class="city-block">
  <div class="city-header">
    <div class="city-title">请选择工作城市<em>单选</em></div>
    <div @click="close" class="city-close"></div>
  </div>
  <div class="city-main">
    <div class="city-block-item">
      <div class="city-item-title">热门城市：</div>
      <ul>
        <li v-for="(item, index) in hotCity">
          <div @click='toggle' class="city-hot-name" :data-id="item.id" :class="{active: item.checked}">{{item.name}}
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="city-block-item">
      <div class="city-item-title">按省份选择：</div>
      <ul>
        <li v-for="(item, index) in province">
          <div @click='list' :data-id="item.id" class="city-name " :class="{  selected: item.selected, active: item.checked }">
            {{item.name}}
          </div>
          <ul v-if="item.childrens && item.list == true" :data-id="item.id" class="city-sub-block ">
            <li v-for="(subItem, subIndex) in item.childrens">
              <div @click='toggle' :data-id="subItem.id" class="city-sub-name" :class="{ active: subItem.checked }">
                {{subItem.name}}
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script src="/Public/js/view/city.js"></script>

<script>
  $( function() {
    $( '[data-city-load1]' ).city( {
      input:'#cityHiddenValue1',
      max:1,
      tips:'最多输入一个'
    } ).init( '310000,500000' );
    $( '[data-city-load2]' ).city( {
      input:'#cityHiddenValue2',
      max:10,
      tips:'最多输入六个'
    } ).init( '130800,130700,130600,130900,131000' );
  } );
</script>
</body>

</html>
