<!doctype html>
<html lang='zh-CN'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title>index</title>
  <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-sham.js"></script>
  <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-shim.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
  <script src="Public/js/third3/aspect.js"></script>
  <script src="Public/js/view/data.js"></script>
  <link rel="stylesheet" href="Public/css/base.css">
  <link rel="stylesheet" href="Public/css/city.css">
  <link rel="stylesheet" href="Public/css/trade.css">
</head>
<body>
<h1>城市仅选择单个</h1>
<div class="block" data-city-load1 value="">初始化</div>
<h1>城市选择多个</h1>
<div class="block" data-city-load2 value="310000,710000,500000">初始化</div>
<input id="cityHiddenValue1" type="hidden">
<input id="cityHiddenValue2" type="hidden">
<h1>行业初始化</h1>
<div class="block" data-trade-load1 value="" >初始化</div>
<h1>行业选择多个</h1>
<div class="block" data-trade-load2 value="32" >初始化</div>
<input id="tradeHiddenValue1" type="hidden">
<input id="tradeHiddenValue2" type="hidden">


<div id="cityVueApp" class="city-block">
  <div class="city-header">
    <div class="city-title">请选择工作城市<em>单选</em></div>
    <div @click="close" class="city-close"></div>
  </div>
  <div class="city-main">
    <div class="city-block-item">
      <div class="city-item-title">热门城市：</div>
      <ul>
        <li v-for="(item, index) in hotCity">
          <div @click='toggle' class="city-hot-name" :data-id="item.id" :class="{active: item.checked}">{{item.name}}
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="city-block-item">
      <div class="city-item-title">按省份选择：</div>
      <ul>
        <li v-for="(item, index) in province">
          <div @click='list' :data-id="item.id" class="city-name " :class="{  selected: item.selected, active: item.checked }">
            {{item.name}}
          </div>
          <ul v-if="item.childrens && item.list == true" :data-id="item.id" class="city-sub-block ">
            <li v-for="(subItem, subIndex) in item.childrens">
              <div @click='toggle' :data-id="subItem.id" class="city-sub-name" :class="{ active: subItem.checked }">
                {{subItem.name}}
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div id="tradeVueApp" class="trade-block">
  <div class="trade-header">
    <div class="trade-title">请选择工作城市<em>单选</em></div>
    <div @click="close" class="trade-close"></div>
  </div>
  <div class="trade-main">
    <div v-for="(item, index) in trade" class="trade-block-item">
      <div class="trade-item-title">
        <h3>{{item.name}}</h3>
      </div>
      <ul>
        <li v-for="(tradeItem, index) in item.childrens">
          <div @click='toggle' :data-id="tradeItem.id" class="trade-name " :class="{ active: tradeItem.checked }">
            {{tradeItem.name}}
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<script src="Public/js/view/city.js"></script>
<script src="Public/js/view/trade.js"></script>
<script>
  $( function() {
    $( '[data-city-load1]' ).city( {
      input:'#cityHiddenValue1',
      max:1,
      tips:'最多输入一个'
    } ).init( '' );
    $( '[data-city-load2]' ).city( {
      input:'#cityHiddenValue2',
      max:6,
      tips:'最多输入六个'
    } ).init( '130800,130700,130600,130900,131000' );
  } );
  $( function() {
    $( '[data-trade-load1]' ).trade( {
      input:'#tradeHiddenValue1',

    } ).init(  );
    $( '[data-trade-load2]' ).trade( {
      input:'#tradeHiddenValue2',
      max:1,
      tips:'最多输入1个'
    } ).init( '32' )
  } );
</script>
</body>

</html>
